html,
body {
  height: 98%;
  /* disign */
  font-family: Helvetica, sans-serif;
}

.main {
  min-height: 100%;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 90px auto 90px;
}

.container_header {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: auto;
}

.container_header_banner {
  height: 200px;
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 5px 20px auto;
  text-align: right;
}

.container_header_banner_links {
  grid-column: 2;
  grid-row: 2;
}
.container_header_banner_links > * {
  margin-right: 40px;
}
.container_header_nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.container_header_nav_elements {
  display: grid;
  align-items: center;
  /* disign */
  text-transform: uppercase;
  font-weight: 800;
  height: 40px;
  text-decoration: none;
}
.container_header_nav_elements a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.container_header_nav_elements:hover {
  background-color: orange;
  text-decoration: underline;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.container_main {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 10px 20px 10px auto 10px;
  grid-template-columns: 10px auto 10px auto 10px;
  height: auto;
  grid-template-areas:
    '. . . . .'
    '. header . autocomplete .'
    '. . . . .  '
    '. table1 table1 table1 .'
    '. . . . .';
}
.container_main_header {
  grid-area: header;
}
.container_main_show_info {
  grid-area: table1;
}
.container_main_autocomplete {
  grid-area: autocomplete;
}
.container_main_table {
  grid-area: table1;
}

.flag {
  height: 30px;
  width: 30px;
}

.cell-of-table {
  width: 40px;
}

/* 
.container_main_left {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
.container_main_right {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
} */

.container_footer {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 10px auto 10px;
  grid-template-columns: 10px auto 10px auto 10px auto 10px;
  grid-template-areas:
    '. . . . . . .'
    '. footer-el-1 . footer-el-2 . footer-el-3 .'
    '. . . . . . . ';

  height: 200px;
  background-color: rgb(30, 30, 30);
  color: white;
}
.container_footer_element-1 {
  grid-area: footer-el-1;
}
.container_footer_element-2 {
  grid-area: footer-el-2;
}
.container_footer_element-3 {
  grid-area: footer-el-3;
}

.border {
  border: 1px solid black;
}

@media screen and (max-width: 960px) {
  .container_header_nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    /* grid-gap: 1em; */
  }
  .container {
    grid-template-columns: 0px auto 0px;
  }
  .container_footer {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 10px auto auto auto 10px;
    grid-template-columns: 10px auto 10px;
    grid-template-areas:
      '. . .'
      '. footer-el-1 .'
      '. footer-el-2 .'
      '. footer-el-3 .'
      '. . . ';

    height: 200px;
    background-color: rgb(30, 30, 30);
    color: white;
  }
}

/* Login */

.container-login {
  display: grid;
  grid-template-columns: auto 400px auto;
  height: 100%;
}

.container-login_form {
  grid-column: 2;
  align-self: center;
  height: auto;

  display: grid;
  grid-template-columns: 30px auto 10px auto 30px;
  grid-template-rows: repeat(6, 10px auto) 10px;
  grid-template-areas:
    '.      .      .      .      .'
    '.     header header header  .'
    '.      .      .      .      .'
    '. login-label . login-input .'
    '.      .      .      .      .'
    '. password-label . password-input . '
    '.      .      .      .      .'
    '. submit submit submit . '
    '.      .      .      .      .'
    '. error error error . '
    '.      .      .      .      .'
    '. register register  register . '
    '.      .      .      .      .';
}

.modif-form-text-center {
  align-self: center;
}

.text-align-center {
  text-align: center;
}
.container-login_form_header {
  grid-area: header;
}

.container-login_form_login-label {
  grid-area: login-label;
}

.container-login_form_login-input {
  grid-area: login-input;
}
.container-login_form_password-label {
  grid-area: password-label;
}

.container-login_form_password-input {
  grid-area: password-input;
}

.container-login_form_submit {
  grid-area: submit;
}

.container-login_form_error {
  grid-area: error;
}

.container-login_form_register {
  grid-area: register;
  text-align: center;
}
.error-red-text {
  color: violet;
  font-weight: 800;
  text-align: center;
}

/* register form */

.container-register {
  display: grid;
  grid-template-columns: auto 400px auto;
  height: 100%;
}

.container-register_form {
  grid-column: 2;
  align-self: center;
  height: auto;

  display: grid;
  grid-template-columns: 30px auto 10px auto 30px;
  grid-template-rows: repeat(9, 10px auto) 10px;
  grid-template-areas:
    '.      .      .      .      .'
    '.     header header header  .'
    '.      .      .      .      .'
    '. name-label . name-input .'
    '.      .      .      .      .'
    '. login-label . login-input .'
    '.      .      .      .      .'
    '. password-label . password-input . '
    '.      .      .      .      .'
    '. password-rep-label . password-rep-input . '
    '.      .      .      .      .'
    '. agree-label . agree-input . '
    '.      .      .      .      .'
    '. submit submit submit . '
    '.      .      .      .      .'
    '. error error error . '
    '.      .      .      .      .'
    '. login login login . '
    '.      .      .      .      .';
}
.container-register_form_header {
  grid-area: header;
  text-align: center;
}

.container-register_form_name-label {
  grid-area: name-label;
}
.container-register_form_name-input {
  grid-area: name-input;
}

.container-register_form_login-label {
  grid-area: login-label;
}
.container-register_form_login-input {
  grid-area: login-input;
}

.container-register_form_password-label {
  grid-area: password-label;
}
.container-register_form_password-input {
  grid-area: password-input;
}

.container-register_form_password-rep-label {
  grid-area: password-rep-label;
}
.container-register_form_password-rep-input {
  grid-area: password-rep-input;
}

.container-register_form_agree-label {
  grid-area: agree-label;
}
.container-register_form_agree-input {
  grid-area: agree-input;
}

.container-register_form_submit {
  grid-area: submit;
}

.container-register_form_error {
  grid-area: error;
}

.container-register_form_login {
  grid-area: login;
}

.small-link {
  font-size: 0.7em;
}
